<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MVCAssignment.styles.css" asp-append-version="true" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="~/Customer/ProductPage">Take Desserts</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="~/Customer/ProductPage">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Customer/CartPage">Cart</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Customer/TransactionHistories">My Orders</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Customer/CustomerProfile">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Customer/AboutUs">About Us</a>
                    </li>
                </ul>
 
            </div>
        </div>
    </nav>




    <div>
        @RenderBody()

    </div>

</body>
</html>

